body {
    max-width: 800px;
    margin: 2rem auto;
}

header {
    background-color: #8ac5c3;
}


footer {
    background-color: #edece8;
}

img.som-shield {
    height: 2em;
    display: block;
}

input {
    display: block;
}

.team-section {
    margin-bottom: 40px; /* Space between sections */
}

.team-grid {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.team-member {
    text-align: center;
    flex-basis: 150px; /* Adjust based on your layout needs */
}

.team-member img {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the images circular */
    margin-bottom: 10px;
}

.nickname {
    display: block; /* Ensures the text appears below the image */
    font-weight: bold; /* Makes the nickname text bold */
    /* Additional styling for the nickname text can be added here */
}

.title {
    display: block; /* Ensures the title appears below the nickname */
    /* Additional styling for the title text can be added here */
}
