{{template "layout" .}}

{{define "title"}}
	My eventbrite clone
{{end}}

{{define "content"}}
<h1 class="title">Class project starter</h1>
<p>
	Hi, today is {{.Today.Format "Jan 02, 2006"}}
</p>
<p>
	<a href="/events/new">Create</a> a new event.
</p>
<ul>
	{{range .Events}}
		<li>
			<a href="/events/{{.ID}}">{{.Title}}</a>
			at
			<time>
				{{.Date.Format "2006-01-02T15:04:05"}}
			</time>
		</li>
	{{end}}
</ul>
{{end}}
